exclude compile.py
recursive-include scripts/ *.py
exclude mechanical_components/optimization/bearings.py
exclude mechanical_components/optimization/meshes.py
exclude mechanical_components/optimization/wires.py
global-exclude *_protected.pyx
prune .git

